/* Here we handle all color declarations */
/* All color that we use must come from here  */

/** Colors must have all the shades from 50-950: tailwind style */
/** https://uicolors.app/create - Use this to generate colors in this range */

// We should follow the 60-30-10 Rule [Primary-Secondary-Accent]

// Take note, changing the primary and accent requires you to also modify the tailwind.config.ts

$colors: (
  primary: (
    50: #f6f6f6,
    100: #e7e7e7,
    200: #d1d1d1,
    300: #b0b0b0,
    400: #888888,
    500: #6d6d6d,
    600: #5d5d5d,
    700: #4f4f4f,
    800: #454545,
    900: #3d3d3d,
    950: #171717
  ),
  secondary: (
    50: #f7f7f7,
    100: #f0f0f0,
    200: #e3e3e3,
    300: #d1d1d1,
    400: #c2c2c2,
    500: #aaaaaa,
    600: #969696,
    700: #818181,
    800: #6a6a6a,
    900: #585858,
    950: #333333
  ),
  accent: (
    50: #edfff7,
    100: #d5ffee,
    200: #aeffde,
    300: #70ffc6,
    400: #2bfda7,
    500: #00dc82,
    600: #00c06d,
    700: #009658,
    800: #067549,
    900: #07603e,
    950: #003721
  ),
  warning: (
    50: #fffbeb,
    100: #fef3c7,
    200: #fde68a,
    300: #fcd34d,
    400: #fbbf24,
    500: #f59e0b,
    600: #d97706,
    700: #b45309,
    800: #92400e,
    900: #78350f,
  ),
  error: (
    50: #fff0ef,
    100: #ffdddc,
    200: #ffc2bf,
    300: #ff9692,
    400: #ff5b54,
    500: #ff281f,
    600: #ff0a00,
    700: #db0900,
    800: #b40700,
    900: #860c07,
    950: #520300
  )
);

@each $category, $shades in $colors {
  @each $shade, $color in $shades {
    .text-#{$category}-#{$shade} {
      color: $color;
    }

    .border-#{$category}-#{$shade} {
        border-color: $color;
    }

    .bg-#{$category}-#{$shade} {
      background-color: $color;
    }
  }
}


// Those Theme Colors
$specials: (
    'red': #FF6F6F,
    'purple': #836FFF,
    'yellow': #FFB21B,
    'green': #6FFFA0,
    'black': #3E383F
);

@each $key, $val in $specials {
    .bg-s#{$key} {
        background-color: $val;
    }
}
